*, *::before, *::after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	/* Base font */
	line-height: 1;
	font-size: 16px;
	/* Viewport tweaks */
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

ol, ul {
	list-style: none;
}

img {
	border: 0;
}

a:active, a:hover {
	outline: 0;
}

/* ====== Situational ====== */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

audio:not([controls]) {
	/* Prevent modern browsers from displaying audio without controls. */
	display: none;
	/* Removes excess height in iOS 5 devices */
	height: 0;
}

figure {
	margin: 0;
}

/* ====== For older browsers ====== */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}

[hidden] {
	display: none;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/* ====== Consistency; don't forget to style these ====== */

a:focus {
	outline: thin dotted;
}

html, button, input, select, textarea {
	color: rgb(36, 36, 36);
}

/* ====== Accessibility ====== */

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ====== Forms ======  */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	/* Firefox fix */
	line-height: normal;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type=search] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* ====== Default classes ====== */