/* ====== Colors ====== */
/* --main-color: rgb(122, 26, 41);
	--side-color: rgb(90, 29, 39);
	--main-dark: rgb(51, 49, 49);
	--main-pale: rgb(240, 240, 240);
	--side-pale: rgb(233, 226, 225);
	--main-accent: rgb(193, 224, 167); */


/* ====== Global ====== */

body {
	font-family: 'Open Sans', Verdana, sans-serif;
	background-color: rgb(240, 240, 240);
}