/* ====== Colors ====== */

/* --main-color: rgb(122, 26, 41);
	--side-color: rgb(90, 29, 39);
	--main-dark: rgb(51, 49, 49);
	--main-pale: rgb(240, 240, 240);
	--side-pale: rgb(233, 226, 225);
	--main-accent: rgb(193, 224, 167); */

/* Review colors at come point */

/* ====== Global ====== */

body {
	font-family: 'Open Sans', Verdana, sans-serif;
	background-color: rgb(233, 226, 225);
	color: rgb(51, 49, 49);
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.6em;
	font-weight: 600;
	margin: 2rem 0 1rem;
}

img {
	font-size: 0.8rem;
	font-weight: normal;
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

p {
	margin: 1rem 0;
}

.main-container {
	max-width: 1300px;
	margin: auto;
	padding: 20px 50px;
	background-color: rgb(250, 250, 250);
}

@media screen and (max-width: 900px) {
	.main-container {
		max-width: 1300px;
		padding: 20px;
	}
}

.icon {
	height: 40px;
	width: 40px;
	display: inline-block;
}

.info {
	display: inline-block;
	height: 20px;
	width: 20px;
	padding: 3px 0;
	border: 2px solid rgb(122, 26, 41);
	border-radius: 50%;
	color: rgb(122, 26, 41);
	font-size: 0.8em;
	line-height: 0.8em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.tabs {
	display: flex;
	border-bottom: 3px solid rgb(122, 26, 41);
}

.tab {
	flex: 1;
	text-align: center;
	border-right: 1px solid rgb(90, 29, 39);
}

.tab:last-child {
	border: none;
}

.tab a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	color: rgb(51, 49, 49);
	width: 100%;
}

.container {
	margin: 2rem auto;
	max-width: 1300px;
}

.content li {
	margin-bottom: 10px;
}

.disclaimer {
	font-size: 0.8rem;
	font-style: italic;
}

.price span:not(.disclaimer) {
	font-size: 1.8rem;
	font-weight: bold;
}

.price .disclaimer {
	font-style: normal;
}

/* ====== Newsletter ====== */

.subscribe-newsletter {
	padding: 2rem;
	background-color: rgb(233, 226, 225);
	text-align: center;
}

.subscribe-newsletter form {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
}

.newsletter-email {
	max-width: 30rem;
	display: block;
	width: 100%;
}

.newsletter-email input {
	width: 100%;
}

.newsletter-submit {
	display: block;
	width: auto;
	margin-left: 20px;
}

.promotion-text {
	color: rgb(122, 26, 41);
	font-weight: bold;
	display: block;
	font-size: 0.8em;
}

.product-shipping-label {
	display: inline-block;
	width: auto;
	margin-right: 10px;
}

.newsletter-email input[type="email"] {
	font-size: 16px;
	height: 40px;
	padding: 10px 15px;
}

.newsletter-email input[type="email"]:focus {
	box-shadow: 0px 0px 10px rgb(51, 49, 49);
	border: 1px solid rgb(193, 224, 167);
}

/* ====== Inputs ====== */

input[type="submit"] {
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	padding: 10px 15px;
	background-color: rgb(122, 26, 41);
	color: rgb(240, 240, 240);
	border: 0;
	border-radius: 6px;
	transition: all 0.15s;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background-color: rgb(51, 49, 49);
	box-shadow: 0px 0px 10px rgb(51, 49, 49);
}


/* ====== Product form ====== */
.product-form {
	width: auto;
	display: inline-block;
}

/* do the option toggle next */
.product-form div {
	margin: 1rem 0;
}

/* Custom radio option toggle */
.product-option label:not(.product-option-title) {
	display: inline-block;
	padding: 10px 15px;
	background-color: rgb(255, 255, 255);
	border-radius: 6px;
	border: 1px solid rgb(51, 49, 49);
	margin: 2px 11px;
	font-weight:bold;
	transition: background-color linear 0.2s;
	color: rgb(100,100,100);
}

.product-option label:not(.product-option-title):nth-child(3) {
	margin-left: 0;
}

.product-option label:not(.product-option-title):hover {
	color: rgb(51, 49, 49);
	cursor: pointer;
}

.product-option-title {
	display: block;
	margin-bottom: 10px;
}


input:focus~.product-option-title {
	font-weight: bold;
	padding: 12px 13px 10px 0;
}

.product-option input:checked+label {
	border: 2px solid rgb(51, 49, 49);
	background-color: rgb(193, 224, 167);
	color: rgb(51, 49, 49);
	margin: 0px 10px;
}

.product-option input:checked+label:nth-child(3) {
	margin: 0px 10px 0px -1px;
}

.product-option input[type="radio"], .custom-radio input[type="radio"] {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

/* Custom radio button appearance 
	 Don't forget to hide the original */

.custom-radio-button {
	position: absolute;
	top: 0;
	left: 0;
	height: 17px;
	width: 17px;
	background-color: rgb(240, 240, 240);
	border-radius: 50%;
	border: 1px solid rgb(51, 49, 49);
	transition: background-color linear 0.2s;
}

.custom-radio:hover, .custom-radio:hover label {
	cursor: pointer;
}

.custom-radio:hover input~.custom-radio-button  {
	background-color: rgb(255, 255, 255);
}

.custom-radio input:checked~.custom-radio-button {
	background-color: rgb(193, 224, 167);
}

.custom-radio {
	display: block;
	position: relative;
	padding-left: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-radio-button:after {
	content: "";
	position: absolute;
	display: none;
}

.custom-radio input:checked~.custom-radio-button:after {
	display: block;
}

.custom-radio .custom-radio-button:after {
	top: 3px;
	left: 3px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: rgb(51, 49, 49);
}