/* ====== Colors ====== */
/* --main-color: rgb(122, 26, 41);
	--side-color: rgb(90, 29, 39);
	--main-dark: rgb(51, 49, 49);
	--main-pale: rgb(240, 240, 240);
	--side-pale: rgb(233, 226, 225);
	--main-accent: rgb(193, 224, 167); */


/* ====== Global ====== */

body {
	font-family: 'Open Sans', Verdana, sans-serif;
	background-color: rgb(240, 240, 240);
}

.info {
	display: inline-block;
	height: 20px;
	width: 20px;
	padding: 3px 0;
	border: 2px solid rgb(122, 26, 41);
	border-radius: 50%;
	color: rgb(122, 26, 41);
	font-size: 0.8em;
	line-height: 0.8em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}